<div class="ml-2 sm:ml-0 h-6 w-10">
  <%= inline_svg_pack_tag 'media/svgs/logo.svg', class: 'inline-block h-5 text-primary-500 -mr-1' %>
</div>
<span class="ml-2 font-bold leading-tight text-xl hidden sm:block md:hidden lg:block"><%= Settings.site_title %></span>
<span class="border-l border-black mx-4 h-1/2 block"></span>
<%= image_pack_tag 'media/images/supported-by-deed.png', class: 'inline-block h-5 text-primary-500 block' %>
