<div class="bg-gray-300 flex items-center px-3 py-1 opacity-75 rounded-full text-black">
  <%= inline_svg_pack_tag "media/svgs/#{icon}.svg", class: 'mr-1 fill-current' %>
  <span class="text-sm"><%= label %></span>
</div>
