<div class="container">
  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
    <%= form_for @office_hour do |f| %>
      <%= render partial: 'office_hour_form', locals: { f: f } %>
    <% end %>
  </div>
</div>
