<p>Hi all,</p>

<p>We're reaching out to thank you and express our gratitude for volunteering. While it is looking bleak right now, it is amazing seeing the immense number of people and companies that have stepped up to work together to fight this virus. To echo what Balaji Srinivasan said <%= link_to "we need a new Manhattan project", "https://twitter.com/balajis/status/1240807742257811456", target: "_blank" %>, and this time it will be distributed, decentralized, and require all of us to help out.</p>

<p>HWC is just a tiny part of this global effort. At the same time with ~3,500 people in the directory, ~1,000+ on Discord, and ~200 projects this effort seems to have struck a nerve.</p>

<p>And we have a couple of asks. We didn't design HWC for this many volunteers and we want to start a more structured approach. There are so much information and so many projects out there that feel the next step is about curation and figuring out what's gaining traction and can be impactful. We kindly ask you to:</p>

<p>
  - <%= link_to "Update your profile", edit_user_registration_url, target: "_blank" %> and add your skills, level of availability, and if you're open to having HWC match you with projects (this is an experiment we're trying to run).
</p>
<p>
  - <%= link_to "Browse the project list", projects_url, target: "_blank" %> daily and see if anything pops up that resonates with you.
</p>
<p>
  - Perhaps join our <%= link_to "Discord server", "https://discord.gg/875AhXS", target: "_blank" %> and hop on the different project channels or just say Hi to all the people working on things.
</p>
<p>
  - If you discover projects gaining traction that are looking for more people to join point them to HWC and ask them to reach out to us. We will highlight their projects and do our best to help out.
</p>
<p>
  - If you see established companies or organizations doing amazing things that perhaps need volunteers to help with one-off things point them to HWC and ask them to reach out to us.
</p>

<p>Thank you again for everything!<br/>
  The HWC Volunteer team</p>
