<% if resource.errors.any? %>
  <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
     <strong class="font-bold">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </strong>
    <br/>
    <div class="block sm:inline">
      <%= resource.errors.full_messages.join("<br/>").html_safe %>
    </div>
  </div>
<% end %>
