<%= form_with(model: success_story, local: true) do |form| %>
  <% if success_story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(success_story.errors.count, "error") %> prohibited this success_story from being saved:</h2>

      <ul>
        <% success_story.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
