<%= link_to success_story, class: "relative block shadow-users transform transition-all duration-100 hover:scale-105 rounded-lg overflow-hidden text-gray-600 border #{success_story.highlight ? 'border-primary-500' : 'border-white'}" do %>
  <div class="p-8">
    <div class="mb-2 text-lg text-primary-500">
      <%= success_story.title %>
    </div>
    <div>
      <%= simple_format success_story.body.truncate(rand(250...450)), class: 'mb-2 text-md leading-relaxed' %>
    </div>
  </div>
<% end %>
