<div class="container">
  <div class="overflow-hidden rounded-lg shadow-users">
    <div class="p-4 sm:px-16 md:px-24 lg:px-48 xl:px-64">
      <div class="mb-4 text-primary-600 text-xl font-bold">
        New success story
      </div>

      <%= render 'form', success_story: @success_story %>
    </div>
  </div>
</div>
