<div class="ml-2 sm:ml-0 h-6 w-10">
  <%= inline_svg_pack_tag 'media/svgs/logo.svg', class: 'inline-block h-5 text-primary-500 -mr-1' %>
</div>
<span class="ml-1 block font-bold leading-tight"><%= Settings.site_title %></span>
