<% visible, hidden = items.take(limit), items.drop(limit) %>

<% visible.each do |type| %>
  <div class="mr-2">
    <%= filter_badge label: type, color: color %>
  </div>
<% end %>
<% if hidden.present? %>
  <div class="mr-2">
    <%= filter_badge label: "and #{hidden.size} more", color: color, title: hidden.join(", ") %>
  </div>
<% end %>