<div x-show="sortOpen"
  x-transition:enter="transition ease-out duration-100"
  x-transition:enter-start="transform opacity-0 scale-95"
  x-transition:enter-end="transform opacity-100 scale-100"
  x-transition:leave="transition ease-in duration-75"
  x-transition:leave-start="transform opacity-100 scale-100"
  x-transition:leave-end="transform opacity-0 scale-95"
  class="origin-top-right absolute right-0 mt-2 w-full md:w-56 rounded-md shadow-lg z-50 mt-12"
>
  <div class="rounded-md bg-white shadow-xs">
    <div class="py-1">
      <%= yield %>
    </div>
  </div>
</div>
