.featured-categories:before {
  position: absolute;
  content: '';
  display: block;
  background-image: url('../svgs/home-hero-triangle.svg');
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: -1px;
  left: 0;
  z-index: 1;
}

@media (min-width: 640px) {
  .featured-categories { padding-top: 10% }
}

/* Scroll Affordance Gradient on Project Card Labels */
.scroll-gradient-right:after {
  content: "";
  width: 1rem;
  height: 24px;
  position: fixed;
  right: 1.25rem; /* set to value of Tailwind padding class,`px-5` */
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
