<div class="flex flex-col justify-center sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-lg">
        <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
            Safety Training
        </h2>
        <p class="mt-8 text-center text-sm leading-5 text-gray-600 max-w">
            <a href="https://newhavenhelpwithcovid.com" class="text-indigo-500 hover:text-indigo-600">NewHavenHelpWithCovid.com</a> has partnered with the training platform <a href="https://blankslatetech.co/" class="text-indigo-500 hover:text-indigo-600">Blank Slate</a> to provide a simple way for volunteers to quickly get up to speed on how to have the highest impact possible in your work, especially in light of frequently changing guidelines and best practices connected to COVID-19.
        </p>
        <p class="mt-4 text-center text-sm leading-5 text-gray-600 max-w">
            To protect our volunteers and others you work with during this pandemic, we ask all our volunteers who’ve marked their current location as “on-site in <%= CITY_NAME %>” to use Blank Slate to receive training on City of <%= CITY_NAME %>’s latest volunteer safety guidelines, which will only take 2-3 minutes. After that, depending on what you need to learn for your volunteer work, Blank Slate will send one or two nudges per week to make sure these updates stay front of mind. Your training status will be indicated on your volunteer profile so that our local partners can recruit with peace of mind.
        </p>
        <p class="mt-4 text-center text-sm leading-5 text-gray-600 max-w">
            <b>Please use <%= link_to "this link", "https://app.blankslatetechnologies.com/app/index.html#/signUp?app=covid19", class: 'text-indigo-500 hover:text-indigo-600', target: :_blank %> to sign up for a free Blank Slate account using the same email address you used for NewHavenHelpWithCovid.com.</b>
        </p>
        <p class="mt-4 text-center text-sm leading-5 text-gray-600 max-w">
            If you have any questions or encounter any issues, please contact <a href="mailto:newhavenpandemic@gmail.com" class="text-indigo-500 hover:text-indigo-600">newhavenpandemic@gmail.com</a>.
        </p>
        <p class="mt-4 text-center text-sm leading-5 text-gray-600 max-w">
            Your privacy is of the utmost importance to NewHavenHelpWithCovid, and our relationship with Blank Slate is predicated on maintaining that privacy. Please be assured that your information belongs to you and will never be sold to third parties.
        </p>
    </div>
</div>