<%
  @project_category ||= {
    name: t('business_directory'),
    color: 'primary',
    body: 'Pick a category to find a black-owned business'
  }

  # We need to explicitly write the full color instead of interpolating it so tailwind can later safely purge the unused css classes.
  case @project_category[:color]
  when 'cat-technology'
    bg_color = 'bg-cat-technology'
  when 'cat-retail-and-manufacturing'
    bg_color = 'bg-cat-retail-and-manufacturing'
  when 'cat-professional-services'
    bg_color = 'bg-cat-professional-services'
  when 'cat-food-and-beverage'
    bg_color = 'bg-cat-food-and-beverage'
  when 'secondary'
    bg_color = 'bg-secondary-600'
  else
    bg_color = 'bg-primary-600'
  end
%>
<div class="mx-auto w-full text-center mt-8">
  <div class="rounded-full bg-white w-24 h-24 flex justify-center items-center mx-auto my-4 text-white <%= bg_color %>"><%= inline_svg_pack_tag "media/svgs/category-#{@project_category[:name].parameterize.downcase}.svg", class: 'text-white h-12 w-12' %></div>
  <div class="font-bold text-2xl mb-4 text-gray-700"><%= @project_category[:name] %></div>
</div>
