<div class="container">
  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
    <%= form_for @project do |f| %>
      <%= render partial: 'project_form', locals: { f: f, title: t('edit_project_name', name: @project.name), cta: t('save_project') } %>
    <% end %>
  </div>
</div>
