<% Settings.events.each do |announcement| %>
  <div class="container">
    <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6 mb-4">
      <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-no-wrap">
        <div class="ml-4 mt-4">
          <p class="text-base leading-5 font-bold text-primary-600 tracking-tight">
            <%= announcement[:title] %>
          </p>
          <p class="mt-1 text-sm leading-5 text-gray-500">
            <%= announcement[:sub_title] %>
          </p>
        </div>
        <div class="ml-4 mt-4 flex-shrink-0">
          <span class="inline-flex rounded-md shadow-sm">
            <%= link_to announcement[:cta_url], target: "_blank" do %>
              <button type="button" class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-primary-600 hover:bg-primary-500 focus:outline-none focus:shadow-outline-primary focus:border-primary-700 active:bg-primary-700">
              <%= announcement[:cta_text] %>
              </button>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>
