<div class="container">
  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
    <%= form_for @offer do |f| %>
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Edit resource <%= @offer.name %>
        </h3>
        <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
          This information will be displayed publicly.
        </p>

        <%= render partial: 'offer_form', locals: { f: f } %>
      </div>
      <div class="mt-8 border-t border-gray-200 pt-5">
        <div class="flex justify-end">
          <span class="ml-3 inline-flex rounded-md shadow-sm">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
              Update resource
            </button>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
