<div class="container">
  <div class="flex flex-col justify-center sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-lg">
      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        Help With Black Equity
      </h2>
      <p class="mt-8 text-center text-sm leading-5 text-gray-600 max-w">
        <a href="https://helpwithcovid.com" class="text-primary-700">HelpWithCovid</a>, the virtual, skills-based volunteering platform created by Sam Altman, Radu Spineanu and <a href="https://helpwithcovid.com/about" class="text-primary-700">other volunteers</a> from the tech industry, expands with the launch of HWBE!
        <br /><br />
        The open-source platform will organize and match people with skills and time to virtual volunteering opportunities that support racial equity movements across the globe.
      </p>
    </div>

    <div class="sm:mx-auto sm:w-full sm:max-w-lg">
      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        Thank you to all volunteers!
      </h2>
    </div>
  </div>
</div>
