<div class="container">
  <div class="flex flex-col justify-center sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-lg">
      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        Help With Black Equity
      </h2>
      <p class="mt-8 text-center text-sm leading-5 text-gray-600 max-w">
        New project
        <br /><br />
        Some more info here
      </p>
    </div>

    <div class="sm:mx-auto sm:w-full sm:max-w-lg">
      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        Thank you to all volunteers!
      </h2>
    </div>
  </div>
</div>
