<%= link_to post, class: 'relative block shadow-users transform transition-all duration-100 hover:scale-105 rounded-lg overflow-hidden text-gray-600' do %>
  <%= render partial: 'cover-photo', locals: {image_src: post.cover_photo, alt: post.title, has_image: post.image.present?} %>
  <div class="p-8">
    <div class="mb-2 text-lg text-indigo-500">
      <%= post.title %>
    </div>
    <div>
      <%= simple_format post.body.truncate(rand(250...450)), class: 'mb-2 text-md leading-relaxed' %>
    </div>
  </div>
<% end %>
